<h4>ATMs:</h4>
<hr />
<div class="row">
  <div class="col-md-7">
    <div class="mt-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Atm #</th>
            <th>Location</th>
            <th>Balance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atm of atms">
            <td>{{ atm.atmId }}</td>
            <td>{{ atm.location }}</td>
            <td>{{ atm.balance }}</td>
            <td>
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="onEditItem(atm.atmId)"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5">
    <app-atm-edit></app-atm-edit>
  </div>
</div>
